* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1E1E1E;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

#calculator {
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 55px 5% 5% 5%;
}

#phone_design {
    display: none;
}

#phone_header {
    position: relative;
    top: -30px;
    display: flex;
    justify-content: space-between;
}

#time {
    color: white;
    font-size: 1em;
}

#battery {
    background-color: #49e048;
    border: solid white;
    border-radius: 5px;
    width: 30px;
    height: 15px;
}

.phone_button {
    position: absolute;
    background-color: white;
}

#silent_button {
    width: 3px;
    height: 30px;
    top: 75px;
    left: -5px;
    border-radius: 30px;
}

.volume {
    width: 3px;
    height: 50px;
}

#vol_up_button {
    top: 125px;
    left: -5px;
    border-radius: 30px;
}

#vol_down_button {
    top: 190px;
    left: -5px;
    border-radius: 30px;
}

#power_button {
    width: 3px;
    height: 70px;
    top: 157px;
    right: -5px;
    border-radius: 30px;
}

#calc_output h1 {
    color: white;
    font-size: 50px;
    text-align: end;
    overflow: hidden;
}

#calc_keypad {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-gap: 10px;
}

.calc_key {
    background-color: #242529;
    color: white;
    padding: 0;
    border: none;
    border-radius: 50%;
    font-size: 35px;
    aspect-ratio: 1;
}

.action {
    background-color: #AAAAAA;
    color: black;
}

.operation {
    background-color: #FC9501;
    color: white;
    padding: 0;
    font-size: 55px;
}
